/* styles.css */
*{
  background-color: #e6bcff;
  /* Additional styles for the main content area */
}
.content {
  margin: 20px;
}

h1 {
  color: blue;
  font-size: 36px;
}

body { padding: 1em 1em 3em } /* top=1em, right=2em, bottom=3em, left=2em */

/* horizonal link navigaion */

#paragraph1 { 
	color: pink;
}
ul {
  color: green;
}

/*change the width and height of content box */ 

.box{
background-color: brown; /*use #f2f2f2; if need */
border: 10px double #0000ff; 
padding: 10px; 
width: 10%; 
height: 60px; 
margin: 20px 20px 20px 40px;
}

/*advanced-er css topics */ 

div p { 
	color: red; 
} 

ul > li {
  list-style-type: none;
}



input[type="text"] {
  border: 1px dashed brown;
}

/* Pseudo-element */
p::first-line {
  font-weight: bold;
}

.container{
	display:flex;
	justify-content:space-between;
	align-items: center; 
}
.item{
	flex-basis:200px;
	padding:10px; 
}

.grid-container{
	display:grid;
	grid-template-columns:repeat(3, 1fr); 
	grid-gap:40px;
}
.grid-item{
	background-color:#f2f2f2;
	padding: 30px;
}

.button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: pink;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.fade-in {
  animation-name: fadeIn;
  animation-duration: 5s;
}
