# Ignore environment variables
.env

# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore system files
.DS_Store

# Ignore temporary files
tmp/

#
.env.save

node_modules/
.env
*.log
