/* Top left name added */
nav a {
    margin: 0 10px;
}

body {
    padding-top: 80px;
    background-color: #d3a7bb;

}

.logo-container img {
    width: 50px;
height: 32px;
}

.centered-heading {
    text-align: center;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the height to full viewport height */
}

h2 {
    text-align: center;
}




/* for tips.html 5.5.24 styles.css */
/* display tips in cards 0.1 */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

/* Container for all tips */
#tipsContainer {
    width: 80%; /* Adjusts the width of the container holding the cards */
    max-width: 800px; /* Maximum width to ensure readability */
    margin-top: 20px;
}

/* Individual tip card styling */
.card {
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* Title of the tip */
.card h4 {
    color: #333;
    margin: 0 0 10px 0;
}

/* Description of the tip */
.card p {
    color: #666;
    line-height: 1.6;
}

/* Box for category and author */
.details {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 0.9em;
    color: #777;
}

/* Individual detail item */
.detail-item {
    display: flex;
    align-items: center;
}

/* Icons for a nicer look */
.detail-item i {
    margin-right: 5px;
    color: #555;
}

